<h2 mat-dialog-title>{{data.title}}</h2>

<mat-dialog-content [formGroup]="editLayerForm" fxLayout="column">

    <mat-form-field>
        <input matInput formControlName="name" placeholder="Название"/>
        <mat-error *ngIf="layerName.hasError('required')">
            Необходимо ввести название.
        </mat-error>
        <mat-error *ngIf="layerName.hasError('maxlength')">
            Название не должно превышать {{layerName.getError('maxlength')?.requiredLength}} символа.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select formControlName="type" placeholder="Тип слоя">
            <mat-option *ngFor="let type of layerTypeOptions" [value]="type">{{getLayerTypeOptionName(type)}}</mat-option>
        </mat-select>
        <mat-error *ngIf="layerType.hasError('required') || layerType.hasError('min')">
            Необходимо выбрать тип слоя.
        </mat-error>
    </mat-form-field>

    <mat-label>Данные в формате GeoJson</mat-label>
    <input type="file" (change)="onFilesChange($event.target['files'])"/>
    <mat-error *ngIf="layerData.dirty && layerData.hasError('geojson')">
        Невалидный GeoJson объект.
    </mat-error>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]="!editLayerForm.valid || !editLayerForm.dirty">ОК</button>
</mat-dialog-actions>
