span {
    margin: 0;
}

.title {
    text-overflow: ellipsis;
    overflow: hidden;
}

.sub-title {
    word-break: break-word;
    max-height: 60px;
    overflow: auto;
    display: inline-block;
}

button {
    padding: 0;
    min-width: 36px;
}
