<div *ngIf="!loading; else spinner" fxLayout="column" fxLayoutGap="8px">
    <ng-container *ngIf="currentMap; else empty">
        <div fxLayout="row" fxLayoutAlign="start start" >
            <span [matTooltip]="currentMap.name" class="mat-h2 title">{{currentMap.name}}</span>
            <div fxFlex></div>
            <button mat-button matTooltip="Сохранить" (click)="onSaveMap()">
                <mat-icon>save</mat-icon>
            </button>
            <button mat-button matTooltip="Редактировать" (click)="onEditMap()">
                <mat-icon>create</mat-icon>
            </button>
            <button mat-button matTooltip="Закрыть" (click)="onCloseMap()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div *ngIf="currentMap.description?.length">
            <span class="sub-title">{{currentMap.description}}</span>
        </div>
        <app-layers-list [mapId]="currentMap.id"></app-layers-list>
    </ng-container>

    <ng-template #empty>
        <button mat-flat-button color="primary" (click)="onCreateMap()">
            Создать новую карту
        </button>
        <button mat-flat-button color="primary" (click)="onOpenMap()">
            Открыть карту
        </button>
    </ng-template>
</div>

<ng-template #spinner>
    <div fxFill fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
