<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>

    <form [formGroup]="editLayerForm" fxLayout="column">
        <mat-form-field>
            <input formControlName="name" matInput placeholder="Название"/>
            <mat-error *ngIf="layerName.hasError('required')">
                Необходимо ввести название.
            </mat-error>
            <mat-error *ngIf="layerName.hasError('maxlength')">
                Название не должно превышать {{layerName.getError('maxlength')?.requiredLength}} символа.
            </mat-error>
        </mat-form-field>

        <ng-container [ngSwitch]="data.type">
            <ng-template ngSwitchCase="Create">
                <div class="mat-form-field">
                    <mat-label>Геоданные</mat-label>
                    <br/>
                    <input (change)="onFilesChange($event.target['files'])" [accept]="availableFileExtensions"
                        type="file"/>
                    <mat-error *ngIf="layerData.dirty && layerData.hasError('required')">
                        Не удалось прочитать файл.
                    </mat-error>
                </div>

                <mat-form-field>
                    <mat-select formControlName="type" placeholder="Тип слоя">
                        <mat-option *ngFor="let type of layerTypeOptions"
                            [value]="type">{{getLayerTypeOptionName(type)}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="layerType.hasError('required')">
                        Необходимо выбрать тип слоя.
                    </mat-error>
                </mat-form-field>
            </ng-template>

            <ng-template ngSwitchCase="Edit">
                <mat-form-field>
                    <mat-select (valueChange)="onStyleChange($event)" formControlName="style"
                        placeholder="Стиль отображения">
                        <mat-option *ngFor="let style of layerStyleOptions"
                            [value]="style">{{getLayerStyleOptionName(style)}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-template>
        </ng-container>
    </form>

    <form *ngIf="data.type === 'Edit'" [formGroup]="editLayerStyleForm" fxLayout="column">
        <mat-form-field *ngIf="layerStyle.value !== 0">
            <mat-select (valueChange)="onPropertyNameChange($event)" formControlName="propertyName"
                placeholder="Атрибут">
                <mat-option *ngFor="let propertyName of propertyNames"
                    [value]="propertyName">{{propertyName}}</mat-option>
            </mat-select>
            <mat-hint *ngIf="layerStyle.value === 3 || layerStyle.value === 4">
                Минимум: {{minValueNumber}}, максимум: {{maxValueNumber}}.
            </mat-hint>
            <mat-error *ngIf="layerPropertyName.hasError('required')">
                Необходимо выбрать атрибут для настройки отображения.
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="layerStyle.value === 1">
            <mat-select (valueChange)="onPropertyValueChange($event)" formControlName="propertyValue"
                placeholder="Значение">
                <mat-option *ngFor="let propertyValue of propertyValues"
                    [matTooltip]="propertyValue" [value]="propertyValue">{{propertyValue}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex>
                <input [placeholder]="firstSizePlaceholder" formControlName="firstSize" matInput max="64" min="1"
                    type="number"/>
            </mat-form-field>

            <mat-form-field fxFlex *ngIf="layerStyle.value === 3">
                <input [placeholder]="secondSizePlaceholder" formControlName="secondSize" matInput max="64" min="1"
                    type="number"/>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex>
                <input [placeholder]="firstColorPlaceholder" formControlName="firstColor" matInput type="color"/>
            </mat-form-field>

            <mat-form-field fxFlex *ngIf="layerType.value !== 2 || layerStyle.value === 4">
                <input [placeholder]="secondColorPlaceholder" formControlName="secondColor" matInput type="color"/>
            </mat-form-field>
        </div>
    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Отмена</button>
    <button (click)="onSave()" [disabled]="disabled" color="primary" mat-flat-button>ОК</button>
</mat-dialog-actions>
