<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="title">{{title}}</span>
        <div fxFlex></div>
        <ng-container  *ngIf="currentUser; else unauthorized">
            <button mat-button (click)="onOpenMap()">Карты</button>
            <button mat-button (click)="onOpenUserDetails()">Привет, {{currentUser.name}}!</button>
            <button mat-button (click)="logout()">Выйти</button>
        </ng-container>
        <ng-template  #unauthorized>
            <button mat-button (click)="openAuthDialog()">Войти</button>
            <button mat-button (click)="openRegDialog()">Зарегистрироваться</button>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>
