<h2 mat-dialog-title>Вход</h2>

<mat-dialog-content [formGroup]="authorizationForm"  fxLayout="column">

    <mat-form-field>
        <input matInput placeholder="Электронная почта" formControlName="email">
        <mat-error *ngIf="email.hasError('required')">
            Необходимо ввести адрес электронной почты.
        </mat-error>
        <mat-error *ngIf="email.hasError('email')">
            Неверный формат адреса электронной почты.
        </mat-error>
        <mat-error *ngIf="email.hasError('maxlength')">
            Адрес почты не должен превышать {{email.getError('maxlength')?.requiredLength}} символа.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="password" placeholder="Пароль" formControlName="password">
        <mat-error *ngIf="password.hasError('required')">
            Необходимо ввести пароль.
        </mat-error>
        <mat-error *ngIf="password.hasError('maxlength')">
            Пароль не должен превышать {{password.getError('maxlength')?.requiredLength}} символа.
        </mat-error>
    </mat-form-field>
    <a routerLink="remember" (click)="rememberPass()">Забыли пароль?</a>

    <mat-error *ngIf="authError">Неверные адреc почты и/или пароль. {{authErrorText}}</mat-error>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-flat-button color="primary" (click)="login()" [disabled]="!authorizationForm.valid">Войти</button>
</mat-dialog-actions>
