<h2 mat-dialog-title>{{data.title}}</h2>

<mat-dialog-content [formGroup]="mapEditForm" fxLayout="column">

    <mat-form-field>
        <input matInput formControlName="name" placeholder="Название"/>
        <mat-error *ngIf="mapName.hasError('required')">
            Необходимо ввести название.
        </mat-error>
        <mat-error *ngIf="mapName.hasError('maxlength')">
            Название не должно превышать {{mapName.getError('maxlength')?.requiredLength}} символа.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <textarea matInput formControlName="description" placeholder="Описание"></textarea>
        <mat-error *ngIf="mapDescription.hasError('maxlength')">
            Описание не должно превышать {{mapDescription.getError('maxlength')?.requiredLength}} символа.
        </mat-error>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close>Отмена</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="getMap()" [disabled]="!mapEditForm.valid || !mapEditForm.dirty">ОК</button>
</mat-dialog-actions>
